.videopage-container {
    display: flex;
    gap: 24px;
    flex: 1;

}

.editvideopage-content {
    flex: 0.9;
    padding: 10px;
}



.editvideopage-form-field {
    display: block;
    width: 100%;
    padding: 10px 18px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    color: #00bebb;
    border: 1px solid #CDD9ED;
    background: #fff;
    transition: border .3s ease;
    &::placeholder {
        color:  #CBD1DC;
    }
    &:focus {
        outline: none;
        border-color: #275EFE;
    }
}

.editvideopage-form-group {
    position: relative;
    display: flex;
    width: 100%;
    padding: 30px;
    & > span,
    .editvideopage-form-field {
        white-space: nowrap;
        display: block;
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
        &:first-child {
            border-radius: 10px 0 0 10px;
        }
        &:last-child {
            border-radius: 0 10px 10px 0;
        }
        &:not(:first-child) {
            margin-left: -1px;
        }
    }
    .editvideopage-form-field {
        position: relative;
        z-index: 1;
        flex: 1 1 auto;
        width: 1%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & > span {
        text-align: center;
        padding: 10px 14px;
        font-size: 16px;
        line-height: 20px;
        color:  #58818e;
        background: #EEF4FF;
        border: 1px solid #CDD9ED;
        transition: background .3s ease, border .3s ease, color .3s ease;
    }
    &:focus-within {
        & > span {
            color: #fff;
            background: #67e0fe;
            border-color: #01ab9d;
        }
    }
}




/* CSS */
.btn-edi-video {
  align-items: center;
  margin: 30px;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn-edi-video:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn-edi-video:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-edi-video:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}