.cardrecommend-container{

    display: flex;
    flex-direction: column;
}

.cardrecommend-image-style{
    width: 99.9%;
    height: 102px;
    background-color: #999;
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardrecommend-details{
    display: flex;
    margin: 12px 0px;
    gap: 12px;
    padding: 0px 20px;
    flex-direction: row;
    flex: 1;
    
}

.cardrecommend{
    display: flex;
    flex-direction: column;
}

.cardrecommend-channel-image{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #999;
}

.cardrecommend-videotitle{
    font-size: 16px;
    font-weight: 500;
    color: rgb(8, 174, 180);

}

.channel-name{
    font-size: 14px;
    color:rgb(36, 32, 32);
    margin: 9px 0px;
}

.video-info{
    font-size: 14px;
    color: rgb(8, 0, 0);
}