.ShareVideoContainer {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000a7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareVideoWrapper {
    width: 600px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.shareVideoClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;
}

.shareVideoWrapper.show {
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;

}

.shareVideoWrapper :is(header, .icons, .field) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareVideoWrapper header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}

.shareVideoHeading {
    font-size: 21px;
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.shareVideoLink {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

header .close,
.icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

header .close {
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
}

header .close:hover {
    background: #ebedf9;
}

.shareVideoWrapper .content {
    margin: 20px 0;
}

.shareVideoWrapper .icons {
    margin: 15px 0 20px 0;
}

.content p {
    font-size: 16px;
}

.content .icons a {
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}

.shareVideoWrapper a i {
    transition: transform 0.3s ease-in-out;
}

.shareVideoWrapper a:nth-child(1) {
    color: #1877F2;
    border-color: #b7d4fb;
}

.shareVideoWrapper a:nth-child(1):hover {
    background: #1877F2;
}

.shareVideoWrapper a:nth-child(2) {
    color: #46C1F6;
    border-color: #b6e7fc;
}

.shareVideoWrapper a:nth-child(2):hover {
    background: #46C1F6;
}

.shareVideoWrapper a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
}

.shareVideoWrapper a:nth-child(3):hover {
    background: #e1306c;
}

.shareVideoWrapper a:nth-child(4) {
    color: #25D366;
    border-color: #bef4d2;
}

.shareVideoWrapper a:nth-child(4):hover {
    background: #25D366;
}

.shareVideoWrapper a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}

.shareVideoWrapper a:nth-child(5):hover {
    background: #0088cc;
}

.shareVideoWrapper a:hover {
    color: #fff;
    border-color: transparent;
}

.shareVideoWrapper a:hover i {
    transform: scale(1.2);
}

.content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 10px 5px;
    border: 1px solid #e1e1e1;
}

.field.active {
    border-color: #7d2ae8;
}

.field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.field.active i {
    color: #7d2ae8;
}

.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.field button {
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
}

.field button:hover {
    background: #8d39fa;
}